* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
}


.bg-head {
    height: 500px;
    background-color: #074799;
    transform: translateY(-200px) skewY(-5deg);
    z-index: -1;
    display: flex;
}

.profile-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    width: 100vw;
}

.prof-pic {
    width: 300px;
    height: 300px;
    transform: skewY(5deg); 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    max-height: 100%;
    max-width: 100%;
}

.about {
    max-width: 400px;
    background-color: whitesmoke;
    transform: skewY(5deg); 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px slategray;
}

.icons {
    align-self: flex-end;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

a:visited,
a:link {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.portfolios {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.card {
    max-width: 300px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.card-pic {
    max-width: 300px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.card-content {
    padding: 10px 20px;
}

footer {
    display: flex;
    height: 40vh;
    background-color: #074799;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.left {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.right img {
    height: 300px;
}

.icons-bot a {
    color: white;
    padding-right: 10px;
}

@media (max-width: 1024px)  {
    .portfolios {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    .profile-container {
        gap: 15px;
    }

    .prof-pic, .about {
        transform: skewY(5);
    }

    .about {
        max-width: 40%;
        padding: 15px;
 
    }

    footer {
        gap: 50px;
    }

}

@media(max-width: 500px) {
    .portfolios {
        grid-template-columns: 1fr;
    }

    .profile-container {
        flex-direction: column;
    }

    .about {
        max-width: 80%;
    }

    .pic {
        transform: scale(0.8);
    }
    .prof-pic {
        transform: translateY(90px);
        z-index: 0;
    }
    footer {
        flex-direction: column;
        gap: 0px;
        height: 50vh;
        padding: 10px;
    }

    .left {
        max-width: 100%;
        font-size: 15px;
        gap: 5px;
        
    }

    .right img{
        transform: scale(0.7);
    }
}